# Week 1

## Introduction

In [1]:
print("hello world")
n=str(input("what is your name? "))

hello world
what is your name? John

In [2]:
# Interactive

print("What is your name?")
n = str(input())
print("What is your location?")
p = str(input())
print("Hello", n, "how is the weather at ", p, "?")
m= str(input())
print("What is your age?")
age=int(input())
print( "Good to know", n, "you are",  age, "years old")

What is your name?
John
What is your location?
Earth
Hello John how is the weather at  Earth ?
Hostile
What is your age?
42
Good to know John you are 42 years old

## Data type

In [4]:
n = 10
print(n)
r = 6.3
print(r)
k = 'john'
print(k)
# type commands tell us the type of the vairable
print("n is of type:", type(n))
print("r is of type:", type(r))
print("k is of type:", type(k))

10
6.3
john
n is of type: <class 'int'>
r is of type: <class 'float'>
k is of type: <class 'str'>

In [5]:
l=[10,20,30,68,722]
print(l[0], l[3])
print(type(l))

10 68
<class 'list'>

In [6]:
b1=True
b2=False
print(type(b1))
print(type(b2))

<class 'bool'>
<class 'bool'>

In [7]:
# we have seen 4 different data types, int,str,bool,float
# converting data types (also called typecasting)
a=float(9)
b=int(6.8)
c=str(9)
d=bool(10)
e=bool(0)
f=bool(-10)

In [8]:
# any integer except zero when converted to boolean value gives true. 0 gives false
print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))
print(e, type(e))
print(f, type(f))

9.0 <class 'float'>
6 <class 'int'>
9 <class 'str'>
True <class 'bool'>
False <class 'bool'>
True <class 'bool'>

- Again, zero is taken as false in boolean, the rest all floats are true
- Converting string to boolean: empty string is false, rest anything is true

In [9]:
#converting float to boolean
a1=bool(10.5)
a2=bool(0.0)
a3=bool(-10.4)

print(a1, "a1 is of type: ",type(a1))
print(a2, "a2 is of type: ",type(a2))
print(a3, "a3 is of type: ",type(a3))

True a1 is of type:  <class 'bool'>
False a2 is of type:  <class 'bool'>
True a3 is of type:  <class 'bool'>

In [10]:
a4=bool('hi')
a5=bool("10")
a6=bool('')
print(a4, "a4 is of type: ",type(a4))
print(a5, "a5 is of type: ",type(a5))
print(a6, "a6 is of type: ",type(a6))

True a4 is of type:  <class 'bool'>
True a5 is of type:  <class 'bool'>
False a6 is of type:  <class 'bool'>

## Operators and expression

In [11]:
n1 = 2 + 3
print(n1)

n2 = 2 * 3
print(n2)

5
6

In [12]:
a1 = 2
b1 = 3
n3 = a1 + b1
n4 = a1 * b1
print(n3, n4)

5 6

In [13]:
k = 'john'
l = 'earth'
n5 = k + l  # which concatenates the two strings
print(n5)

a2 = [1, 2, 3]
b2 = [2, 7, 9, 15]
print(a2 + b2)

n7 = 10 + 13 * 2
# we see it follows a rule operator precedence (BODMAS theory)
print(n7)

johnearth
[1, 2, 3, 2, 7, 9, 15]
36

In python we have three different types of operations namely, arithmetic, relational and logical.

In [14]:
# arithmetic (+, -, *, /, //, %, **)

print('addition', 4 + 3)
print('subtraction', 4 - 3)
print('multiplicaiton', 4 * 3)
print('division', 4 / 3)
print('floor division', 4 // 3)
print('modulus', 4 % 3 )
print('exponentiation', 4**3)

addition 7
subtraction 1
multiplicaiton 12
division 1.3333333333333333
floor division 1
modulus 1
exponentiation 64

In [15]:
# relational (<, >, <=, >=, ==, !=) the output is always boolean

print('Lets see some relational operators:')
print(5>10)
print(5==50)
print(71!=50)

Lets see some relational operators:
False
False
True

In [16]:
# logical (and, or, not)

print('Lets see logical and:')
print( True and True)
print( False and False)
print( True and False)
print( False and True)
print('Now lets see logical or:')
print( True or True)
print( False or False)
print( True or False)
print( False or True)
print('Now lets see logical not:')
print( not (True))
print( not False)  #its not necessary to use braces in not()
print( not 0)

Lets see logical and:
True
False
False
False
Now lets see logical or:
True
False
True
True
Now lets see logical not:
False
True
True

## Strings

In [17]:
s='coffee'
t='bread'
print(s+t)
print(s[4]) # prints 4th character in the string
print(s[1:5]) # prints 1st to 5-1=4th character in the string
print(t[2:5]) # prints 2nd to 5-1=4th character in the string

coffeebread
e
offe
ead

Addition of two strings concatenate them, to add the nmbers stored as strings, we need to first convert it to integer/float.

In [18]:
k='0123456789'
a1=k[4]
b1=k[7]
print(a1)
print(b1)
print(a1+b1)

a2=int(k[4])
b2=int(k[7])
print(a2+b2)

4
7
47
11

In [19]:
m='good'
print(m*5) # concatenated 5 times
print(m[0]*5) #t his is repeatition is also known as replication

goodgoodgoodgoodgood
ggggg

In [24]:
x='India'
print(x == 'India')
print(x == 'india') # changing from uppercase to lowercase changes the string

True
False

In [25]:
print('Comparing strings:')
print('apple' > 'one') # when comparing strings, it goes letter by letter. 0th in apple (a) comes before 0th in one (o) in alphabets and so it is false
print('four' < 'ten')
print('ab'<'az')
print('abcdef'< 'abcde')

Comparing strings:
False
True
True
False

In [26]:
print('Negative indexing:') # the order of indexing reverses
z1= 'python'
print(z1[-1])
print(z1[-2])
print(z1[-3])
print(z1[-4])
print(z1[-5])
print(z1[-6])

Negative indexing:
n
o
h
t
y
p

In [27]:
z2= 'fbywgmayugrywnrgcowmouywghyhgoi'

# If we print(z2[100]) here it will show error as string index exceed range
print(len(z2)) # len() shows the length of the string

# here length will be shown as 31 but there is no z2[31] as indexes start from zero

31